<a href="https://colab.research.google.com/github/ynebin/class2023Fall/blob/main/W3_0915.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic

## print
* displays a value (= data) to the console

```
print(x)
```

In [1]:
# click the play button on the left to run the code

print("Hi!")

Hi!

## variable
* a named container that holds a value
* a reference to a value that is stored in the RAM (= memory)

In [2]:
a = "Hi!"  # variable a
print(a)

Hi!

In [3]:
# variable reassignment

a = "Bye!"  # the value of a is changed from "Hi!" to "Bye"
print(a)

Bye!

## del
* deletes a variable or element

```
del x
```

In [4]:
del a  # a is deleted
print(a)  # this raises an error since there is no a

NameError: ignored

## type
* data in Python have specific types

In [5]:
a = 1
b = "Hi!"
c = [1, 2, 3]
d = (1, 2, 3)
e = {"a": 1, "b": 2, "c": 3}

* returns the data type

```
type(x)
```

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# Data type: Number

In [7]:
# integer

a = 1
b = 0  # this is an int
c = -1

In [8]:
# floating-point number

a = 3.14159
b = 0.0  # this is a float
c = -3.14

## arithmetic operator
* operator
  * a symbol or keyword that performs specific operations
  * it is essentially a function

<br/>

* `+` addition
* `-` deletion
* `*` multiplication
* `/` division

In [9]:
a = 5
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)  # division returns a float

8
2
15
1.6666666666666667

* `//` quotient
* `%` modulus

In [10]:
print(a // b)
print(a % b)

1
2

* `**` exponentiation

In [11]:
print(a ** b)  # 5 * 5 * 5

125

## comparison operator
* compares two values
* returns a boolean (`True` or `False`)

<br/>

* `>` greater than
* `<` less than
* `>=` greater than or equal to
* `<=` less than or equal to
* `==` equal to
* `!=` not equal to

In [12]:
print(a > b)   # 5 > 3
print(a < b)   # 5 < 3
print(a >= b)  # 5 >= 3
print(a <= b)  # 5 <= 3
print(a == b)  # 5 == 3
print(a != b)  # 5 != 3

True
False
True
False
False
True

# Data type: Sequence
* an ordered collection of elements
* can access elements by their position (= index)

## string
* a sequence of characters
* used to represent text

In [13]:
a = "Hi!"
b = 'Hi!'  # same as a
c = ""  # empty string

### string operators

* `+` concatenate

In [14]:
a = "py"
b = "thon"

print(a + b)

python

* `*` repeat

In [15]:
print(a * 3)  # a is repeated 3 times

pypypy

### comparison operators
* `==` equal to
* `!=` not equal to

In [16]:
a = "Hi!"
b = 'Hi!'

print(a == b)  # each character should match
print(a != b)

True
False

### len
* returns the number of elements (= characters)

```
len(x)
```

In [17]:
print(len(a))  # a has 3 characters

3

### .replace
* method
  * a function that is associated with an object
  * performs actions related to that object

<br />

* replaces a substring `a` to `b` in `x`

```
x.replace("a", "b")
```

In [18]:
a = "Hello world!"

a = a.replace("world", "python")
print(a)

Hello python!

### indexing
* each element's position in a sequence is specified by a number (= index)
* an index starts from 0

<br />

|0|1|2|3|4|5|
|-|-|-|-|-|-|
|p|y|t|h|o|n|

<br />

* accesses the `i`th element

```
x[i]
```

In [19]:
a = "python"

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

p
y
t
h
o
n

* negative indexing

<br />

|-6|-5|-4|-3|-2|-1|
|-|-|-|-|-|-|
|p|y|t|h|o|n|

In [20]:
print(a[-6])
print(a[-5])
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])

p
y
t
h
o
n

### slicing
* accesses multiple elements
* from `i`th to `j-1`th

```
x[i:j]
```

<br />

|0|1|2|3|4|5|
|-|-|-|-|-|-|
|p|y|t|h|o|n|

In [21]:
print(a[2:4])  # 2nd ~ 3rd

th

In [22]:
# when starting the slice from the beginning,
# the starting index is omitted

print(a[:2])  # 0th ~ 1st

py

In [23]:
# when the slice is from the specified position
# to the end of the sequence,
# the ending index is omitted

print(a[-2:])  # same as a[4:], 4th ~ last

on

## list
* a sequence of elements of any data type

In [24]:
a = [1, 2, 3]
b = ["red", "green", "blue"]
c = [10, "Hi!", False, [1, 2]]
d = [] # empty list

### list operators
* `+` concatenate

In [25]:
a = [1, 2]
b = [3, 4]

print(a + b)

[1, 2, 3, 4]

* `*` repeat

In [26]:
print(a * 3)

[1, 2, 1, 2, 1, 2]

### len
* returns the number of elements

```
len(x)
```

In [27]:
print(len(a))

2

### indexing
* accesses the `i`th element

```
x[i]
```

In [28]:
a = [1, 2, 3, -1]

print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
-1

In [29]:
# negative indexing

print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])

1
2
3
-1

### slicing
* accesses multiple elements
* from `i`th to `j-1`th

```
x[i:j]
```

In [30]:
print(a[:2])
print(a[1:3])
print(a[-2:])  # same as a[2:]

[1, 2]
[2, 3]
[3, -1]

### modifying
* changes the `i`th value to `a`

```
x[i] = a
```

In [31]:
a[-1] = 4  # the last element is changed from -1 to 4
print(a)

[1, 2, 3, 4]

### .append
* adds a single element to the end of a list

```
x.append(a)
```

In [32]:
a.append(5)  # no explicit assignment is needed!
print(a)

[1, 2, 3, 4, 5]

In [33]:
# what if you want to add multiple elements?

a.append([6, 7])
print(a)  # common mistake: a list as a single element is added!

[1, 2, 3, 4, 5, [6, 7]]

### .pop
* deletes and returns the last element

```
y = x.pop()
```

In [34]:
b = a.pop()  # b is assigned with the last element of a

print(a)
print(b)  # the last element is a list [6, 7]

[1, 2, 3, 4, 5]
[6, 7]

### .extend
* adds multiple elements to the end of a list

In [35]:
a.extend([6, 7])  # same as a = a + [6, 7]
print(a)          # multiple elements are added as expected this time!

[1, 2, 3, 4, 5, 6, 7]

## tuple
* a list where each element cannot be modified, deleted, or added

In [36]:
# same as a list most of the time

a = (1, 2, 3, -1)

print(len(a))  # calculating length
print(a[0])    # indexing
print(a[1:3])  # slicing

4
1
(2, 3)

In [37]:
# not allowed: returns an error

a[-1] = 4         # modifying
a.append(5)       # appending
a.extend([6, 7])  # extending
a.pop()           # removing

TypeError: ignored

# Data type: Mapping
* a collection of key-value pairs
* can access elements by their associated keys

## dictionary

In [38]:
# keys: "name", "age", "city"
# values: "Alice", 23, "Seoul"

a = {"name": "Alice", "age": 23, "city": "Seoul"}

### accessing
* accesses the value associated with key `a`

```
x[a]
```

In [39]:
print(a["name"])
print(a["age"])
print(a["city"])

Alice
23
Seoul

### modifying
* changes the value to `b`

```
x[a] = b
```

In [40]:
a["name"] = "John"  # the value is changed from "Alice" to "John"
print(a)

{'name': 'John', 'age': 23, 'city': 'Seoul'}

### deleting
* deletes a key-value pair using `del`

```
del x[a]
```

In [41]:
del a["city"]  # "city": "Seoul" is deleted
print(a)

{'name': 'John', 'age': 23}

### adding
* adds a new key-value pair

```
x[a] = b
```

In [42]:
a["is_student"] = True  # "is_student": True is added
print(a)

{'name': 'John', 'age': 23, 'is_student': True}

# Data type: Boolean

In [43]:
a = True
b = False

## comparison operation
* boolean is returned as an output of comparison operations

In [44]:
print(5 > 3)                # True
print("Hi!" == "Bye!")      # False
print([1, 2, 3] != [1, 2])  # True

True
False
True

## logical operators
* `and` returns `True` only when **both** are `True`
* `or` returns `True` when **at least one** is `True`
* `not` returns the opposite value

In [45]:
print(a and b)  # returns False since b is False
print(a or b)   # returns True since a is True
print(not a)    # returns False since a is True
print(not b)    # returns True since b is False

False
True
False
True

In [46]:
# combination of comparison and logical operators

a = 1
b = 2
c = 3

condition_1 = a < b  # True
condition_2 = b > c  # False

print(condition_1 and condition_2)  # False
print(condition_1 or condition_2)   # True
print(not condition_1)              # False
print(not condition_2)              # True

False
True
False
True